html{
    box-sizing: border-box;
    font-size: 18px;
}

:root{
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

body , h1 , h2 , h3 , h4 , h5 , h6 , p , ol , ul{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Public Sans', sans-serif;
    -webkit-font-smothing:antialiased;
}
body{
    overflow-x: hidden;
}
img{
    /*this will make the image responsive*/
    max-width: 100%;
    height: auto;
    /*end of responsiveness*/
}
nav{
    background-color:var(--White);
    padding: 20px 0px;
    display: flex;
    /*next line me ek property use ki hai jisse content jo hai vo door door hon jayega matlab image , ul , button*/
    justify-content: space-between;
    align-items: center; /*isse item jo hai center me set ho jayega*/
}
.nav-section{
    position: relative;
    z-index: 1;
    background: var(--White);
}
nav ul{
    display: flex;
    /* list-style-type: none; se dot remove ho jate hai*/
    list-style-type: none;
}
nav ul li{
    margin-left: 20px;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    color: var(--Grayish-Blue);
}
.btn{
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    background: linear-gradient( to right ,var(--Lime-Green),var(--Bright-Cyan));
    color: var(--White);
    cursor: pointer;
    /*hover effect me change bhut fast ho rha hai usko set krne k liye hum transitation pro[erty use krenge*/
    transition: all .3s ease-in-out;
}
.btn:hover{
    background: linear-gradient( to right ,var(--Bright-Cyan),var(--Lime-Green));
    
}
.container{
    /* width or margin se container center me aa jayega*/
    width: 1120px;
    margin: 0 auto; /*margin top bottom se 0 or right left se auto hai*/
    max-width: 90%;

}



/*header section*/
.header-section{
    background: var(--Very-Light-Gray);
    
}
.header-wrap{
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 40px;
    
}
.header-text{
    flex: 1 0 40%; /*ye basically combination hai flex-grow , flex-shrink , flex-basis ka*/
    
}

.header-text h1{
    font-size: 48px;
    font-weight: 300;
    line-height: 1.1;
    color: var(--Dark-Blue);
    margin-bottom:30px;
}
.header-section p{ 
    font-size: 17px;
    margin-bottom: 30px;
    line-height: 1.4;
    color: var(--Grayish-Blue);
    
}

.header-images{
    flex:1 0 60%;
    position: relative;
}

.header-images img:first-child{
    position: relative;
    top:-50px;
    bottom: 0;
    right: -200px;
    /*property to scale the image matlab bada karna image ko*/
    transform: scale(1.6);
}

.header-images img:last-child{
    position: absolute;
    top: -160px;
    right: -190px;
    /*property to scale the image matlab bada karna image ko*/
    transform: scale(1.1);
}
.pros-section{
    background: var(--Light-Grayish-Blue);
    padding-top: 100px;
    padding-bottom: 60px;/*! this*/
}

.pros-section .container h1{
    color: var(--Dark-Blue);
    margin-bottom: 20px;
}

.pros-section .container p{
    color: var(--Grayish-Blue);
    margin-bottom: 60px;
}
.pros-section .card-wraper{
    display: flex;
    gap: 80px; /*ye nai property hai jisse jo card bane hai usme gap aa jayega*/  
    
}

.pros-section .card-wraper img{
    margin-bottom: 30px;
    
}

.pros-section .card-wraper h3{
    color: var(--Dark-Blue);
    margin-bottom: 20px;
}
.pros-section .card-wraper p{
    font-size: 16px;
    color: var(--Grayish-Blue);
}

.article-section{
    padding: 100px 50px;
    background: var(--Very-Light-Gray);
}
.article-section h1{
    margin-bottom: 30px;
    
}
.article-wraper{
    display: flex;
    
}
.article-wraper > * + * {
    margin-left: 30px;
}

.article-card{
    background: var(--White);
    border-radius: 10px;
}

.article-wraper .article-card img{
    margin-bottom: 20px;
    width: 100%;
    height: 200px;
    object-fit: cover;/*agar image strich ho rhi hai toh isko use kren*/
}
.article-wraper .article-card .content{
    background: var(--White);
    padding: 20px;
}

.article-wraper .content a{
    margin: 10px 0px;
    display: block;
    color: var(--Dark-Blue);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.article-wraper .content p{
    font-size: 16px;
    color:var(--Grayish-Blue);

}
.article-wraper .content p:hover{
    color:var(--Lime-Green)
}


/*Footer section*/
footer ul {
    list-style-type: none;
}

footer {
    background: var(--Dark-Blue);
    padding: 30px;
}

footer ul.socials {
    display: flex;
    margin-top: 60px;
}

footer ul.socials > * + * {
    margin-left: 14px;
}

footer .content {
    display: flex;
    justify-content: space-between;
}

footer .content a {
    color: var(--Very-Light-Gray);
    text-decoration: none;
    transition: all .3s ease-in-out;
}

footer .content a:hover {
    color: var(--Grayish-Blue);
}

footer .content li {
    margin-bottom: 10px;
}

footer .footer-cta {
    text-align: right;
}

footer .copyright {
    color: var(--Grayish-Blue);
    font-size: 16px;
    margin-top: 30px;
}

/*Responsive*/
/*max width => desktop approach
min width => mobile approach
*/
@media(max-width :870px){
    .nav-links{
        position:fixed;
        top:80px;
        /*
        trick to center any div vartical posotion
        left : 50%;
        transform:translateX(-50%);
        */
        left:-500px;
        transform:translateX(-50%);
        background :var(--White);
        display: flex;
        flex-direction: column;
        width: 90%;
        border-radius: 20px;
        padding: 20px 0px;
        box-shadow: 0px 30px 50px 5px #A0A0A0;
        /*this is for animation*/
        transition: all .4s ease-in-out;
    }
    .nav-links.open{
        left:50%;
    }
    .navbar-cta{
        display: none;
    }
    .hamburger-btn{
        border: none;
        background:none;
        outline: none;
    }
    .nav-links a{
        color: var(--Dark-Blue);
    }
    .nav-links li{
        padding-bottom: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}